<nav class="navbar navbar-dark bg-dark px-4">
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-between">
    <a class="navbar-brand fs-5" [routerLink]="['/inicio']">Inicio</a>

    <ul class="navbar-nav d-flex flex-row flex-wrap ms-auto" style="gap: 1rem;">
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/libros']" routerLinkActive="active">Libros</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/modificar']" routerLinkActive="active">Modificar</a>
        </li>
    </ul>
    </div>
</nav>
